<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
	<head>
		<meta charset="UTF-8">
		<title>Cardápio</title>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<div class="alert alert-success" th:if="${msg !=null}" th:text="${msg}"></div>
			<table class="table">
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Valor</th>
					<th></th>
				</tr>
				<tr th:each="card:${cardapio}">
					<td th:text="${card.nome}"></td>
					<td th:text="${card.descricao}"></td>
					<td th:text="${#numbers.formatDecimal(card.valor, 1, 0)}"></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div layout:fragment="rodape">
		</div>
	</body>
</html>